.click-text {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  cursor: pointer;
}
.click-text:hover {
  border-bottom-width: 2px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-2xs {
  font-size: 6px;
}

li > span.text-2xs {
  transform: translate(-150%, 60%) scale(0.75);
}

li > strong {
  cursor: pointer;
}
