.click-text {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  cursor: pointer;
}
.click-text:hover {
  border-bottom-width: 2px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
